.container {
    /* for center */
    display: block;
    width: 233px;
    margin: auto;
}

input {
    display: block;
}

input[type='text'] {
    padding: 23px;
    border: 2px solid aqua;
}

a[target] {
    font-size: 34px;
    color: brown;
}

a[target='_self'] {
    font-size: 14px;
    color: rgba(53, 236, 36, 0.863);
}

input[type='email'] {
    color: rgb(0, 0, 0);
    border: 2px solid red;
}

/* li:nth-child(1n){
    color: aqua;
    font-weight: bold;
}
li:nth-child(2n){
    color: red;
    font-weight: bold;
} */
/* odd child */
li:nth-child(odd) {
    background-color: aqua;
}

/* even child */
li:nth-child(even) {
    background-color: rgb(255, 0, 0);

}