body{
    background-color: black;
}
h3,p{
    color: rgb(255, 0, 242);
    font-weight: bold;
 }
#box{
    display:flex ;
    height: 200px;
    width: 200px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    /* transition-property: background-color;
    transition-duration: 1s;
    /* animation-timing-function: ease-in-out;
    transition-delay: 0.3s; */
    /* shorthand  */
    transition: all 1s ease-in-out 0.3s;

}
#box:hover{
    background-color: rgb(81, 255, 0);
    height: 400px;
    width: 300px;
    border-radius: 100px;
    font-size: 30px;
}