*{
    margin: 0px;
    padding: 0px;
}
.container{
    height:80vh ;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:brown;
    border: 2px solid blue;
    border-radius: 8px;
    height:300px ;
    width:300px;
    /* transform: rotate(45deg); */
    transition: all 3s ease-in-out;
}
.box:hover{
    /* transform: rotate(360deg); */
    /* transform: skew(35deg); */
    /* transform: scale(3); */
    /* transform: translateX(123px);
    transform: translateY(123px); */
    transform: translate(123px,123px);
}